# IDE configuration
.idea
*.iml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Cache
__pycache__/

# macOS Directory Configuration
**/.DS_Store

# Data Files
*.csv
*.xlsx
*.xls
